<% content_for :header_bottom do %>
  <%= javascript_pack_tag 'editable' %>
  <%= stylesheet_pack_tag 'editable' %>
<% end %>

<div id="editable-content">
  <editor>
    <%== @article.draft %>
  </editor>
</div>

