@import "./style_single";
@import "./action_button";

.singlepageContents {
	@import "./markdown";
}

/* ベース */
body {
	background: #fafcfc;
}
a {
	&:link, &:visited, &:hover, &:hover, &:active {
		transition: .2s ease-in-out;
	}
}

/* 枠 */
.Singlepage {
	width: 730px;
	padding: 20px 35px 45px;
	border: 1px solid #f3f3f3;
	background: #ffffff;
	margin: 15px auto;
	position: relative;
}

/* 検索フォーム */
.contentSingleform {
	text-align: right;
	margin-bottom: 12px;
}
.contentSingleSearch {
	width: 160px;
	dd {
		button {
			span {
				width:13px;
				height:13px;
				background:url('/theme/Pc/img/common/search_pc.png') no-repeat scroll 0 0;
			}
		}
	}
}

/* 本文レイアウト */
.singlepageTitle {
	font-size: 25px;
	line-height: 35px;
}
.singlepageMainimage {
	margin: 25px 0;
	img {
		margin-top: 0;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

/* 本文　もくじ */
.mokuji {
	h2 {
		font-size: 22px;
		margin:10px 0;
		padding: 13px 17px 10px 20px;
	}
	h3 {
		font-size: 19px;
		margin: 10px 0;
	}
	p {
		padding: 0 0 12px 30px;
	}
}


/*
　マークダウン　パーツ
　.singlepageContents の中にのみ適応されます。
 */
.singlepageContents {
	img {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 22px;
		margin-top:40px;
		border-left: 10px solid #6ec2e5;
		padding: 10px 17px 10px 20px;
	}
	h3 {
		font-size: 19px;
		margin-top: 25px;
		margin-bottom: 5px;
	}
	h4 {
		font-size: 17px;
		margin-top: 20px;
		padding-left: 18px;
	}
	table {
		margin-top: 25px;
		td, th {
			padding: 8px 18px;
			font-size: 16px;
		}
	}
	strong {
		font-size: 16px;
		line-height: 1.9;
		letter-spacing: 0.3px;
		font-weight: bold;
	}
	em {
		font-size: 16px;
		line-height: 1.9;
		letter-spacing: 0.3px;
		font-style: italic;
	}
	span {
		font-size: 16px;
		line-height: 1.9;
		letter-spacing: 0.3px;
	}

	blockquote {
		margin: 20px 0;
		position: relative;
		padding: 2rem 7rem;
		border: 1px solid #eeeeee;
		background: #eeeeee;
		z-index: 1;
		background: #eee;
		border-radius: 5px;

		p {
			position: relative;
			z-index: 3;
			margin: 15px 20px 30px;
			padding: 0;
			a {
				color: #e95967;
				text-decoration: underline;
			}
		}

		&:before {
			content: "“";
			font-size: 1000%;
			line-height: 0.8em;
			font-family: 'Times New Roman' ,"ＭＳ Ｐゴシック" ,sans-serif;
			color: white;
			position: absolute;
			left: 10px;
			top: 5px;
			z-index: 2;
		}
	}

}

/* 本文　記者 */
.author {
	margin: 40px 0 25px;
	padding: 20px 2px 25px;
	h4 {
		font-size: 16px;
	}
	p {
		font-size: 14px;
		padding: 8px 0 18px;
	}
}

/* 資料請求 */
.toriyoseLinkbox {
	margin: 25px auto 40px;
}

/* 関連情報 */
.relatedInfoBox {
	margin-top: 30px;
	padding-bottom: 25px;
}
.relatedInfoTitle {
	font-size: 22px;
	border-left: 10px solid #e56476;
	padding: 10px 17px 10px 20px;
}
.relatedInfoLi {
	margin-top: 22px;
	a:hover {
		opacity: 0.3;
		background: #ffffff;
	}
}
.relatedInfoImg {
	width: 105px;
	height: 105px;
	margin-right: 14px;
	img {
		min-width: 100%;
		min-height: 100%;
		max-width: 140px;
	}
}
.relatedInfoBody {
	width: 530px;
}
.relatedInfoName {
	font-size: 16px;
}
.relatedInfoCaption {
	font-size: 13px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #777777;
	padding-top: 3px;
}

/* sns オフィシャルアカウントバナー */
.snsBox {
	text-align: center;
	padding-top: 30px;
	.snsTitle {
		padding-bottom: 20px;
	}
	.snsLinkFb, .snsLinkIn {
		display: inline-block;
		width: 320px;
		height: 106px;
	}
	a:hover {
		opacity: 0.8;
	}
	.snsLinkFb {
		margin-right: 13px;
	}
}

/* ページスクロール */
#goto-header {
	position: absolute;
	bottom: 0px;
	right: -55px;
	z-index: 1;
}

/* loadmoreボタン */
.loadmoreBtn {
	display: block;
	width: 200px;
	text-align: center;
	line-height: 44px;
	height: 44px;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	background: #e56476;
	border-radius: 4px;
	margin: 10px auto 0;
	text-decoration: none;
}

/* 関連するプログラム */
.Singlepage {
	.program-summary {
		padding: 0 0 30px;
		h4 {
			border-bottom: 1px dotted #c52c5f;
			margin: 15px 0 0 0;
			padding: 5px 0;
			color: #c52c5f;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
		}
		> div {
			overflow: hidden;
			zoom: 1;
		}
		.program-summaryBox {
			float: left;
			background: #eeeeee;
			border-radius: 5px;
			margin: 15px 5px 35px 0;
			padding: 5px;
			width: 215px;
			> div {
				background: #ffffff;
				border-radius: 5px;
				box-shadow: 0px 0px 1px 2px #e0e0e0;
				padding: 5px 15px;
			}
			.text01 {
				border-bottom: 1px dashed #999999;
				padding: 10px 0;
				color: #c52c5f;
				font-size: 14px;
				line-height: 20px;
				font-weight: bold;
				a {
					color: #c52c5f;
					font-size: 14px;
					line-height: 20px;
					font-weight: bold;
					text-decoration: none;
				}
			}
			.text02 {
				padding: 5px 0 0;
				color: #333333;
				font-size: 12px;
				line-height: 20px;
			}
			.text03 {
				background: #ffeeee;
				border: 1px solid #ffdddd;
				box-shadow: 0 0 0 1px #ffffff inset;
				margin: 10px 0;
				padding: 0 0 0 7px;
				color: #333333;
				font-size: 14px;
				line-height: 28px;
				font-weight: bold;
			}
			.text04 {
				border-bottom: 1px dotted #999999;
				padding: 0 0 10px;
				a {
					color: #333333;
					font-size: 12px;
					line-height: 16px;
					font-weight: bold;
				}
			}
			.text05 {
				border-bottom: 1px dotted #999999;
				padding: 10px 0;
				color: #333333;
				font-size: 12px;
				line-height: 16px;
			}
			.text06 {
				padding: 10px 0;
				color: #333333;
				font-size: 12px;
				line-height: 22px;
				overflow: hidden;
				zoom: 1;
				img {
					float: left;
					margin: 0 5px 0 0;
					width: 42px;
				}
			}
			.want {
				padding: 5px 0 0;
				img {
					width: 74px;
				}
				span {
					display: inline-block;
					background: url("/theme/Pc/img/common/program_summary_balloon.jpg") left center no-repeat;
					background-size: 100% 100%;
					margin: 1px 0 0;
					padding: 0 4px 0 11px;
					color: #fd6d66;
					font-size: 12px;
					line-height: 20px;
					vertical-align: top;
				}
			}
			.img {
				padding: 10px 0 0;
			}
			ul {
				padding: 5px 0 10px;
				overflow: hidden;
				zoom: 1;
				li {
					display: block;
					float: left;
					border: 1px solid #fdb13f;
					border-radius: 3px;
					margin: 0 3px 5px 0;
					padding: 0 4px;
					color: #fdb13f;
					font-size: 12px;
					line-height: 18px;
				}
			}
			&:last-child {
				margin: 15px 0 35px 0;
			}
		}
		.program-moreButton {
			a {
				display: block;
				border: 1px solid #fc8a8a;
				border-radius: 4px;
				margin: 0 auto;
				padding: 7px 25px;
				max-width: 400px;
				color: #fc8a8a;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				text-decoration: none;
			}
		}
	}
}
