<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :header_bottom %>
  </head>

  <body>
    <header>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
